@import '../../style/commons';

.bys-welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://ik.imagekit.io/cdnstorage786/164069941-black-blue-wallpapers_Q1cpimTJO.jpg) center / cover;
  height: 100vh;

  @include bp(xs) {
    height: auto;
  }

  &__box {
    text-align: center;
    margin-top: -50vh;

    @include bp(xs) {
      font-size: .8em;
      margin-top: 0;
    }

    h1 {
      font-size: 5em;
      font-weight: 100;
      margin-top: 1em;

      @include bp(xs) {
        font-size: 4em;
      }
    }

    &-title {
      color: $white;
      text-shadow: 5px 5px 5px black;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;

    @include bp(xs) {
      flex-direction: column;
    }
  }
}
